<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="GoogleSearch">
  <test thread-count="5" name="Search">
  		<classes>
			<class name="ozar.SeleniumJavaGoogleSearch.Test.SearchTest" />
		</classes>
  </test> <!-- SearchTest -->
</suite> <!-- GoogleSearch -->
